In [17]:
import tensorflow as tf
import pandas as pd
import numpy 
import pickle
from tensorflow.keras.models import load_model

In [3]:
model=load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
with open('encoder_gender.pkl','rb') as file:
    encoder_gender=pickle.load(file)

with open('encoder_geography.pkl','rb') as file:
    encoder_geography=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [5]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenture':3,
    'Balance':600000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000,
}

In [12]:
encoded_geo=encoder_geography.transform([input_data['Geography']])

In [13]:
print(encoded_geo)

[0]

In [14]:
encoded_gender=encoder_gender.transform([input_data['Gender']])

In [15]:
print(encoded_gender)

[1]

In [18]:
input_df=pd.DataFrame([input_data])

In [19]:
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [22]:
input_df.drop(['Geography','Gender'],axis=1,inplace=True)

In [23]:
input_df

   CreditScore  Age  Tenture  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600   40        3  ...          1               1            50000

[1 rows x 8 columns]

In [26]:
encoded_geo_df = pd.DataFrame(encoded_geo, columns=['Geography'])
encoded_gender_df = pd.DataFrame(encoded_gender, columns=['Gender'])

input_df = pd.concat([input_df, encoded_geo_df, encoded_gender_df], axis=1)

In [27]:
input_df

   CreditScore  Age  Tenture  ...  EstimatedSalary  Geography  Gender
0          600   40        3  ...            50000          0       1

[1 rows x 10 columns]

In [33]:


column_order = scaler.feature_names_in_ 
input_df = input_df[column_order]

In [34]:
print("Scaler trained on:", scaler.feature_names_in_)
print("Your input columns:", input_df.columns.tolist())

Scaler trained on: ['CreditScore' 'Geography' 'Gender' 'Age' 'Tenure' 'Balance'
 'NumOfProducts' 'HasCrCard' 'IsActiveMember' 'EstimatedSalary']
Your input columns: ['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']

In [35]:
input_scaled=scaler.transform(input_df)

In [36]:
input_scaled

array([[-0.54204762, -0.90328217,  0.91055421,  0.10473081, -0.68894811,
         8.37548873,  0.81966266,  0.64598061,  0.97071435, -0.88153859]])

In [37]:
prediction=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 233ms/step

In [38]:
print(prediction)

[[0.2512428]]

In [41]:
prediction_proba=prediction[0][0]

In [42]:
prediction_proba

np.float32(0.2512428)

In [43]:
if prediction>0.5:
    print('the customer is likely to exited')
else:
    print('the customer is not likely to exited')

the customer is not likely to exited